---
title: Título da home do site
js: [
	assets/js/dist/main-section.js
]
---

<h1>HOME DO SITE</h1>

<p>
	<a href="section/index.html">página interna</a>
</p>

{% include partial.html param1='123' %}
