---
title: Título da home do site
js: [
	"assets/js/dist/main-section.js"
]
css: [
	"assets/css/section.css"
]
---

<div class="teste 123">
	conteúdo HTML
</div>

<a href="{{ site.url }}">Voltar para a home</a>

{% include partial.html param1='outro parâmetro' %}
