// Em caso de dúvidas acesse a documentação completa em: http://goo.gl/dz36Cj

/////////////////
// THEME COLOR //
/////////////////

// Informações sobre conceito e nomenclatura em http://goo.gl/RaALhX

// Exemplo de aplicação:
// $theme-main-color: #808078;
// $theme-neutral-color: #333;



///////////////////
// COLOR PALETTE //
///////////////////

// Informações sobre conceito e nomenclatura em http://goo.gl/vJvj0N
//
// Exemplos de aplicação:
// $group-main-light10: hsl-diff($theme-main-color, -0.13, 0.81, 6.47); //#654793
// $group-main-dark10: hsl-diff($theme-main-color, -0.28, 1.12, -7.84); //#432F62

$group-light: #fff;
$group-dark: #000;



//////////////////////
// COLOR EXCEPTIONS //
//////////////////////

// Informações sobre conceito e nomenclatura em http://goo.gl/OYhvgH
//
// Exemplo:
// $button-danger-bg-color: #D9534F;
// $button-success-bg-color: #5CB85C;



/////////////////
// BASE COLORS //
/////////////////

// Cores base usadas no projeto. Mais informações sobre
// conceito e nomenclatura em http://goo.gl/Numq1p
//
//Exemplo:
// $base-border-color: $group-neutral-light20;
// $base-dark-font-color: $theme-neutral-color;
// $base-input-font-color: $base-dark-font-color;
