<!DOCTYPE html>
<html class=" no-js no-touch" lang="pt-BR">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>{{ page.title }}</title>
	<meta charset='utf-8'>
	<meta name="description" content="{{ page.description }}">
	<meta name="keywords" content="{{ page.keywords }}">
	<meta name="author" content="">

	<meta name="robots" content="INDEX, FOLLOW">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<script type="text/javascript">
		(function(d){
			d.className = ("ontouchstart" in window) ? d.className.replace(/\bno-touch\b/, 'touch') : d.className;
		}(document.documentElement));
	</script>
	<script type="text/javascript">
		(function(d){ d.className = d.className.replace(/\bno-js\b/, 'js'); })(document.documentElement);
	</script>

	<script src="{{ site.url }}assets/js/dist/main-structure.js" async defer></script>
	{% for js in page.js %}
	<script src="{{ site.url }}{{ js }}" async defer></script>
	{% endfor %}
	<link rel="stylesheet" href="{{ site.url }}assets/css/structure.css">
	{% for css in page.css %}
	<link rel="stylesheet" href="{{ site.url }}{{ css }}">
	{% endfor %}
</head>
<body>
	{{ content }}
</body>
</html>
